{% extends 'users.html.twig' %}

{% block title %}Rythme Danse
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<table class="table table-bordered ">
	<h1>Tarifs de l'année</h1>

		<tbody>
			<th scope="row"></th>
			<td colspan="2" class="text-white">Enfants/Etudiants</td>
			<td class="text-white">Adultes</td>
			</tr>
			<th scope="row" class="text-white">Eveil</th>
			<td colspan="2" class="text-white">21,5€/mois soit 215€/an</td>
			<td></td>
			<td class="text-white"><a class="btn btn-dark" href="{{ path('eveil_payment') }}" role="button">Accéder au tarif</a></td>
			</tr>

			<th scope="row" class="text-white">1 cours</th>
			<td colspan="2" class="text-white">29€/mois soit 290€/an</td>
			<td class="text-white">35€/mois soit 350€/an</td>
			<td class="text-white"><a class="btn btn-dark" href="{{ path('1courspayment') }}" role="button">Accéder aux tarifs</a></td>
			</tr>

			<th scope="row" class="text-white">2 cours</th>
			<td colspan="2" class="text-white">46,50€/mois soit465€/an</td>
			<td class="text-white">56€/mois soit 560€/an</td>
			<td class="text-white"><a class="btn btn-dark" href="{{ path('2courspayment') }}" role="button">Accéder aux tarifs</a></td>
			</tr>

			<th scope="row" class="text-white">3 cours</th>
			<td colspan="2" class="text-white">61€/mois soit 610€/an</td>
			<td class="text-white">73,50€/mois soit 735€/an</td>
			<td class="text-white"><a class="btn btn-dark" href="{{ path('3courspayment') }}" role="button">Accéder aux tarifs</a></td>
			</tr>

			<th scope="row" class="text-white">4 cours</th>
			<td colspan="2" class="text-white">72,5€/mois soit 725€/an</td>
			<td class="text-white">94,50€/mois soit 945€/an</td>
			<td class="text-white"><a class="btn btn-dark" href="{{ path('4courspayment') }}" role="button">Accéder aux tarifs</a></td>
			</tr>
		</tbody>
	</table>




{% endblock %}

{% block javascripts %}

{% endblock %}
