{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">{% endblock %}
{% block body %}

	<h1>Equipe Artististique</h1>

	<div class="row row-cols-1 row-cols-md-3">
		<div class="mx-auto">
			<div class="card">
				<h5 class="card-title  mt-2">Isabelle Farnault</h5>
				<img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">

				<div class="card-body">
					<p class="card-text">Professeur de danse Classique et Pointes</p>
					<p class="card-text">Professeur de danse ModernJazz</p>
					<p class="card-text">Professeur de danse Fly Yoga</p>
					<p class="card-text">Professeur de danse Contemporain</p>
				</div>
			</div>
		</div>
		<div class="mx-auto">
			<div class="card">
				<h5 class="card-title  mt-2">Tchad</h5>
				<img src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">

				<div class="card-body">
					<p class="card-text">Professeur de danse Hip-hop</p>
					<p class="card-text">Professeur de danse Ragga</p>
					<p class="card-text">Professeur de danse TBC Avanlache</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="prof">
		<img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">
	</div>

	<article>
		<h2>Isabelle Farnault Shanesia</h2>
		<p>Directrice artistique de Rythme Danse depuis 1993, Isabelle Farnault se forme au professorat de danse en
			                    passant par le conservatoire du Puy-En-Velay, où elle passe le conservatoire de degrès supérieur</p>
		<p>C'est à partir de 1996 qu'elle se produit en tant qu'artiste performer pour de nombreux organismes et
			                    événementiels (tels que: défilé de mode au Caroussel du Louvre à Paris auprès de Mme De Fontenay,
			                    tournée Loft-story, tournéeFiretour, festival INOX...) en France et à l'étranger (Espagne, Belgique,
			                    Suisse, Corse...) et développe à traversles spectacles professionnels divers arts du cirque: échasses,
			                    trapèze, et manipulation du feu.</p>
		<p>Elle donne divers cours et stages en parallèle de l'association (Montbazens, Aurillac, Capdenac,
			                    Decazeville...)</p>
		<p>Visionnaire, elle fait partie des pionnières de la danse Tribal Fusion en France, qu'elle enseigne depuis
			                    2008, elle participe activement au développement de la diversité artistique, en intégrant entre autres
			                    le hip-hop et la danse orientale dans les cours de l'association.</p>
		<p>Elle crée la compagnie Ethnica.</p>
		<p>En 2009: spectacle Tribal et Feu pour la 5eme convention du tatouageà Bordeaux.</p>
		<p>Eté 2011: spectacle professionnel Tribal et Feu et au Festival d'Aurillac, sélectionnée pour la formation
			                    professionnelle avec Brice et Mardi Love avec spectacle à Nîmes.</p>
		<p>En 2012: sélection scène professionnelle Tribal Umrah avec le Collectif Vibrations.</p>
		<p>Eté 2013: sélectionnée en solo pour le spectacle professionnel de Barcelone.</p>
		<p>2015-2016: elle intègre l'école de haute couture à Toulouse, et obtient le CAP de couture vêtement flous.
		</p>
		<p>Eté 2016: formation professionnelle accélérée de Fly Yoga à Paris où elle a été diplomée professeur de
			                    Fly Yoga.</p>
	</article>
</div>

<div class="container">
	<div class="prof">
		<img src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
	</div>
	<article>
		<h2>Tchad Mikael Rocle</h2>
		<p>Originaire de la Réunion, Tchad s'interesse aux arts corporels et pratique la danse en autodidacte.</p>
		<p>Repéré par Vandetta Mathéa en 2002, il donne ses premiers cours à la Manufacture d'Aurillac (15) tout en terminant ses études en BTS agro-alimentaire. Il y enseignera prendant 12 ans.</p>
		<p>Il développe sa propre pédagogie, intervenant sur presque tout les terrains, du hip-hop à la salsa en
			                passant par le développement personnel par le corps, sans oublier sa fonction de formateur et de jury
			                pour l'EAT et le diplôme d'Etat. Il devient très vite une interface incontournable entre la Manufacture
			                et les partenaires départementaux et nationaux.</p>
		<p>Il est à l'initiative de plusieurs projets comme "Les Freezes d'Aurillac ou encore "Les Terres de
			                Talnac". Il lance ses premiers solos d'improvisation et crée ses chorégraphies de groupe pour divers
			                événements: Quadrichromie, Les 36 heures de la Danse, le Festval d'Aurillac, Sessions Volcaniques. Sa
			                réputation le porte sur les routes de France ainsi qu'à New York (Berkeley Caroll School) pour dispenser
			                cours et stages.</p>
		<p>Dès 2003 et en parallèle de la danse, il travaille sur des musiques destinées aux solos et ballets pour
			                l'ensemble de la Manufacture et signe diverses créations musicales pour la Compagnie Professionnelle
			                Vandetta Mathéa, notamment pour Homm-annimal et Watersoul.</p>
		<p>Toujours en 2003, il remporte le premier prix, à l'unanimité, au concours nationalpour son solo
			                d'improvisation "NAISSANCE".</p>
		<p>Son premier atelier chorégraphique remporte le 1er prix avec félicitations du jury au concours régional
			                pour "LACRIMOSA"</p>
		<p>Il reçoit également un 2eme prix régional en solo contemporain</p>
		<p>Il est actuellement professeur à Rythme Danse depuis 2011, ainsi que Brive-la-Gaillarde (19) et donne des
			                stages partout en France.</p>
	</article>
</div>{% endblock %}
