{% extends 'users.html.twig' %}

{% block title %}Profil de
	{{ app.user.firstname}}
	{{ app.user.name }}
{% endblock %}

{% block body %}
	{# message d'alerte pour succes de changement de nom et prénom #}

	{% for message in app.flashes('message')%}
		<div>
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
		</div>
	{% endfor %}

	<div class="container">
		<div>
			<h2>Profil de
				{{ app.user.firstname}}
				{{ app.user.name }}</h2>
		</div>
		<div class="row row-cols-2">

			<div class="col">Nom</div>
			<div class="col">{{ app.user.name }}</div>
			<div class="col">Prénom</div>
			<div class="col">{{ app.user.firstname }}</div>
			<div class="col">Email:
			</div>
			<div class="col">{{ app.user.email }}</div>
			<div>
				<button type="button" class="btn btn-primary">
					<a href="{{ path('users_profil_modifier' )}} ">Modifier le profil</a>
				</button>
				<button type="button" class="btn btn-primary">Modifier le mot de passe</button>
			</div>
		</div>
	</div>
{% endblock %}
