{% extends 'users.html.twig' %}

{% block title %}Profil de
	{{ app.user.firstname}}
	{{ app.user.name }}
{% endblock %}

{% block body %}

	{# message d'alerte pour succes de changement de nom et prénom #}
	{% for message in app.flashes('message')%}
		<div>
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
		</div>
	{% endfor %}

	<div class="container">
		<div>
			<h1>Profil de
				{{ app.user.firstname}}
				{{ app.user.name }}</h1>
		</div>
		<div class="row row-cols-2">

			<div class="col-5 mx-auto">Nom:</div>
			<div class="col-5 mx-auto">{{ app.user.name }}</div>
			<div class="col-5 mx-auto">Prénom:</div>
			<div class="col-5 mx-auto">{{ app.user.firstname }}</div>
			<div class="col-5 mx-auto">Email:
			</div>
			<div class="col-5 mx-auto">{{ app.user.email }}</div>
			<div class="mx-auto">
				<a href="{{ path('users_profil_modifier' )}}" class="btn btn-dark btn-lg active mt-2 mr-2" role="button" aria-pressed="true">Modifier le profil</a>
				<a href="{{ path('users_pass_modifier')}}" class="btn btn-dark btn-lg active mt-2 mr-2" role="button" aria-pressed="true">Modifier le mot de passe</a>
			</div>
		</div>
	</div>
{% endblock %}
