{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/cours.css') }}">{% endblock %}
{% block body %}

<!-- A mettre h1 et p dans un border -->
<div>
    <h1>Cours</h1>
    <p>Vous trouverez les différents cours proposés par l'association</p>
</div>

    <div class="cours">
        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Classique et pointes</h2>
                <button><a class="dropdown-item" href="{{ path('classique') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Contemporain</h2>
                <button><a class="dropdown-item" href="{{ path('contemporain') }}">Description</a></button>
            </article>
        </section>
    </div>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Modern Jazz</h2>
                <button><a class="dropdown-item" href="{{ path('modern') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>FTP</h2>
                <button><a class="dropdown-item" href="{{ path('ftp') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Fly Yoga</h2>
                <button><a class="dropdown-item" href="{{ path('yoga') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Ragga</h2>
                <button><a class="dropdown-item" href="{{ path('ragga') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>TBC Avalanche</h2>
                <button><a class="dropdown-item" href="{{ path('tbc') }}">Description</a></button>
            </article>
        </section>

        <section>
            <div>
                <img src="" alt="">
            </div>
            <article>
                <h2>Hip-Hop</h2>
                <button><a class="dropdown-item" href="{{ path('hip_hop') }}">Description</a></button>
            </article>
        </section>
    </div>
{% endblock %}
